@import url('https://fonts.googleapis.com/css?family=ABeeZee|Anton');
@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url('https://fonts.googleapis.com/css?family=Charmonman|Merriweather');

body {
  background-color: #7094db;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  padding-left: 45px;
  padding-right: 45px;
  border: 10px solid white
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Charmonman', cursive;
  font-size: 50px;
  border-bottom: 5px solid white
}

h2 {
  text-align: center;
  font-weight: lighter;
  border-top: 2px solid white
  font-family: 'Merriweather', serif;
  line-height: 10%;
}

h3 {
  text-align: center;
  font-weight: lighter;
  border-bottom: 2px solid white
  font-family: 'Merriweather', serif;
  line-height: 20%;
}

h4 {
  text-align: center;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  border-top: 5px solid white;
  padding-top: 15px
}

P {
  font-family: 'Merriweather', serif;
}

#listone {
  border: 2px solid white;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

li {
  width: 100px;
  display: inline-block;
}

.oneline {
vertical-align: super;
}

img {
  border-radius: 50%
}
